body {
  background-image: radial-gradient(circle, #1f3756, #141539) !important; }

.header-games {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  border: 4px solid #606e85;
  border-radius: 12px;
  padding: 24px 18px;
  font-family: "Barlow Semi Condensed", sans-serif; }
  .header-games .names {
    font-weight: 700;
    color: white; }
    .header-games .names h3 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      margin: -10px 0;
      font-size: 33px; }
    .header-games .names .first {
      margin: 0; }
  .header-games .score {
    background-color: white;
    padding: 10px 27px;
    border-radius: 5px;
    text-align: center; }
    .header-games .score span {
      font-size: 16px;
      color: #2a46c0;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 700; }
    .header-games .score h4 {
      color: #3b4363;
      font-size: 51px;
      margin-top: -5px;
      font-weight: 700;
      margin-left: 8px;
      letter-spacing: 0.1em; }

@media only screen and (max-width: 470px) {
  .header-games {
    width: 80% !important;
    margin-left: 10% !important;
    margin-top: 20px !important;
    padding: 10px !important; }

  .names h3 {
    font-size: 28px !important; }

  .score {
    padding: 1px 15px !important; }
    .score span {
      font-size: 14px !important; }
    .score h4 {
      font-size: 34px !important; } }
#main {
  margin-top: 5%;
  padding: 204px 0;
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

.hands {
  background-color: white !important;
  width: 100px;
  height: 100px;
  max-width: 100%;
  line-height: 92px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 25px; }

.images {
  border-radius: 50%; }
  .images .hand {
    width: 150px;
    height: 150px;
    max-width: 100%;
    line-height: 150px;
    text-align: center;
    border-radius: 50%; }
  .images img {
    cursor: pointer; }
  .images .paper {
    background-image: linear-gradient(#4865f4, #5671f5);
    position: absolute;
    top: -208px;
    left: 18%; }
  .images .scissors {
    background-image: linear-gradient(#ec9e0e, #eca922);
    position: absolute;
    top: -208px;
    right: 18%; }
  .images .rock {
    background-image: linear-gradient(#dc2e4e, #dd405d);
    position: absolute;
    top: 24px;
    left: 39.5%; }
  .images .comp {
    background-image: linear-gradient(#f57088, #40b9dd) !important; }

span.rule {
  border: 2px solid #606e85;
  color: white;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 8px;
  position: absolute;
  bottom: 10px;
  right: 3%;
  text-transform: uppercase;
  cursor: pointer; }

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  z-index: 999;
  display: none; }
  .popup .rules {
    padding: 25px 30px;
    background-color: white;
    position: relative; }
    .popup .rules h2 {
      text-transform: uppercase;
      font-family: "Barlow Semi Condensed", sans-serif;
      font-weight: 700; }
    .popup .rules .closePopup {
      position: absolute;
      top: 25px;
      right: 20px;
      cursor: pointer; }

.non {
  display: none; }

.win {
  transform: scale(1.25);
  transition: all 4s; }

#choosen {
  margin-top: 5%;
  position: relative;
  display: none; }
  #choosen .big {
    top: 70px;
    left: 18%;
    width: 250px;
    height: 250px;
    line-height: 250px; }
    #choosen .big .hands {
      width: 180px;
      height: 180px;
      line-height: 180px;
      top: 36px;
      left: 14%; }
      #choosen .big .hands img {
        width: 100px; }
  #choosen h2 {
    text-align: center;
    color: white; }
  #choosen .winner {
    margin-top: 41%;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
    #choosen .winner h2 {
      letter-spacing: 0.1em;
      font-size: 43px; }
    #choosen .winner .btn {
      padding: 10px 30%;
      background-color: white;
      color: #15183b;
      border: none;
      margin-bottom: 15px;
      cursor: pointer;
      transition: all 0.5s; }
      #choosen .winner .btn:hover {
        color: crimson;
        transition: all 0.5s; }

.animation {
  animation: shakeY;
  animation-duration: 1.7s; }

.non {
  display: none; }

.hidden {
  opacity: 0;
  transition: all 0.3s; }

.visible {
  visibility: visible;
  transition: all 0.1s; }

@media only screen and (max-width: 767px) {
  .btn {
    padding: 10px 45px !important; }

  #choosen .compare {
    left: 20% !important; }
  #choosen .me {
    left: 28% !important; }
  #choosen .big {
    left: 23% !important; }

  .img-rules {
    width: 160px; }

  .order-res-1 {
    order: 1 !important; }

  .order-res-2 {
    order: 2 !important; }

  .left-res {
    left: 65% !important; }

  #main .scissors {
    left: 95% !important; }
  #main .rock {
    top: 33px !important;
    left: 52% !important; }

  .rule {
    bottom: 25px !important;
    right: 42% !important; } }
@media only screen and (max-width: 590px) {
  .header-games {
    width: 80% !important;
    margin-left: 10% !important; }

  #main {
    margin-top: 8% !important; }
    #main .scissors {
      left: 65% !important; }
    #main .paper {
      left: 11% !important; }
    #main .rock {
      top: 52px !important;
      left: 36.5% !important; }

  .rule {
    right: 39% !important;
    bottom: 20px !important; } }
@media only screen and (max-width: 470px) {
  h2 {
    font-size: 15px !important; }

  .compare {
    position: absolute !important;
    bottom: -216px !important;
    left: 18% !important; }

  .rpc-checked {
    margin-top: 20% !important;
    font-size: 43px !important; }

  .hands {
    width: 80px !important;
    height: 80px !important;
    max-width: 100% !important;
    line-height: 70px !important;
    top: 11px !important;
    left: 10px !important; }
    .hands img {
      width: 34px !important; }
    .hands .animation {
      animation: none !important; }

  .hand {
    width: 100px !important;
    height: 100px !important;
    line-height: 100px !important; }

  #main {
    margin-top: 18% !important; }
    #main .paper {
      top: -185px !important;
      left: 6% !important; }
    #main .scissors {
      top: -185px !important;
      left: 69% !important; }
    #main .rock {
      top: 58px !important;
      left: 37.6% !important; }

  .rule {
    bottom: 7px !important;
    right: 38% !important; }

  .img-rules {
    width: 160px; }

  .order-res-1 {
    order: 1 !important; }

  .order-res-2 {
    order: 2 !important; }

  .left-res {
    left: 65% !important; } }
@media only screen and (max-width: 376px) {
  #main {
    margin-top: 5% !important;
    margin-left: 13px !important; }
    #main .paper {
      left: 0 !important; }
    #main .rock {
      left: 33% !important; }

  .rule {
    right: 33% !important; } }

/*# sourceMappingURL=style.css.map */
